html,
body {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.centre-container {
    margin: auto;
    text-align: center;
    width: 50%;
}

.profile-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    border-color: #000000;
    color: rgb(22, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.job-block {
    border: 1px solid white;
    background-color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 10px !important;
    padding: 15px;
    margin-bottom: 15px;
}

.applied {
    opacity: 0.6;
    pointer-events: none;
}

.form-group {
    display: inline-block;
    width: 44%;
}

.dropdown {
    position: fixed;
    top: 20px;
    right: 30px;
}